<table>
    <caption><h3>Estadísticas</h3></caption>
    <tr>
        <td>Número de preguntas:</td>
        <td><%= numQuiz %></td>
    </tr>
    <tr>
        <td>Número de comentarios:</td>
        <td><%= numComment %></td>
    </tr>
    <tr>
        <td>Número medio de comentarios por pregunta:</td>
        <td><%= numMedio %></td>
    </tr>
    <tr>
        <td>Número de preguntas sin comentario:</td>
        <td><%= numQuizWithOutComment %></td>
    </tr>
    <tr>
        <td>Número preguntas con comentario:</td>
        <td><%= numQuizWithComment %></td>
    </tr>
</table>
